###############################################
# Terraform
###############################################

.terraform/
*.tfstate
*.tfstate.*
crash.log

###############################################
# Terraform Variable Files
###############################################

terraform.tfvars
*.auto.tfvars

###############################################
# Terraform Plan Files
###############################################

*.tfplan

###############################################
# Override Files
###############################################

override.tf
override.tf.json
*_override.tf
*_override.tf.json

###############################################
# Terraform Lock File
###############################################

.terraform.lock.hcl

###############################################
# IDE
###############################################

.vscode/

###############################################
# Operating System
###############################################

.DS_Store
Thumbs.db

###############################################
# Logs
###############################################

*.log